$primaryColor: #6366F1 !default;
$primaryLightColor: #C7D2FE !default;
$primaryDarkColor: #4F46E5 !default;
$primaryDarkerColor: #4338CA !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EEF2FF !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../../../theme-base/_components';
@import '../_extensions';
