$primaryColor: #8B5CF6 !default;
$primaryLightColor: #DDD6FE !default;
$primaryDarkColor: #7C3AED !default;
$primaryDarkerColor: #6D28D9 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #F5F3FF !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../../../theme-base/_components';
@import '../_extensions';