$primaryColor: #5EEAD4 !default;
$primaryLightColor: rgba(94, 234, 212, .5) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -5%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryTextColor: #1c2127 !default;

$highlightBg:rgba(94, 234, 212, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;

@import '../_variables';
@import '../../../../theme-base/_components';
@import '../_extensions';