@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.hat {
  position: absolute;
  top: 145px;
  align-items: center;
  border: 1px none;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  min-height: 62.35px;
  min-width: 63.86px;
  overflow-x: hidden;
  padding: 10px;
  position: relative;
  width: 100%;
}



.input-up {
  transform-origin: top;
  position: absolute;
  display: flex;
 flex-direction: column;
 align-items: flex-end;
justify-content: space-between;
align-items: center;

position: absolute;
bottom: 498px;
}

.input:hover{
      fill: green;
}

.input-label {
  border: 0px none;
  height: 20px;
}

.input-label .text-wrapper {
  color: #CEFCFF;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  top: 0;
  white-space: nowrap;
}


.ui-corners {
  background: url(/assets/icons/actions/frame.svg);
  background-repeat: no-repeat;
  display: flex;
width: 76px;
height: 68px;
padding: 18px 9px;
justify-content: center;
align-items: center;
fill-opacity: ;
}

.main {
  background: var(--bg, radial-gradient(50% 50.00% at 50% 50.00%, rgba(0, 197, 240, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #010D0B);
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.square_contain {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon_wrap {
  display: flex;
 align-items: flex-start;
 gap: 10px;
 flex: 1 0 0;
align-self: stretch;
}

/* .main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
} */



@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.action-list {
  display: flex;
 flex-direction: column;
  overflow: visible;
  border: 1px none;
  gap: 4px;
  padding: 1px 0px 1px;
  align-content: flex-end;
  align-items: flex-end;
margin-top: 2px;
padding-bottom: 6px;
}

 .action {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(36deg, rgb(0, 255, 239.7) 0%, rgba(0, 255, 255, 0.753) 100%);
  font-family: "Exo 2", Helvetica;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0.1px;
  line-height: 13px;
  margin-top: -1px;
  text-align: center;
  align-self: flex-end;
}

.test2 {
   display: flex;
height: 36.125rem;
padding: 1.5625rem 0rem 0.9375rem 0rem;
flex-direction: column;
align-items: center;
gap: 0.625rem;
border-radius: 0.375rem;
box-shadow: 0px 1px 15px 0px #00eeff2a;
border: 1px solid rgba(0, 240, 255, 0.20);

}
.test {
 border: 1px solid rgba(0, 240, 255, 0.20);
  /* background: radial-gradient(644.70% 114.87% at 22.25% 28.07%, rgba(0, 163, 255, 0.02) 0%, rgba(73, 162, 214, 0.26) 100%); */
 background: radial-gradient(644.70% 114.87% at 22.25% 28.07%, rgba(0, 163, 255, 0.02) 0%, rgba(73, 162, 214, 0.26) 100%);
 display: inline-flex;
 width: 30.6875rem;
 height: 51.7775rem;
 padding: 0.9375rem 0.875rem 3.1875rem 0.875rem;
 flex-direction: column;
 align-items: flex-start;
 gap: 0.875rem;


  border-radius: 10px;
 
}

.card-default {
  display: inline-flex;
  padding: 15px 14px 51px 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;

  background: radial-gradient(644.70% 114.87% at 22.25% 28.07%, rgba(0, 163, 255, 0.02) 0%, rgba(73, 162, 214, 0.26) 100%);
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
